.auth__input {
    background-color: #000;
    color: #FFF;
    padding: 0;
    padding-bottom: 13px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #CCC;
}

/* чтобы инпуты не меняли цвет при нажатии на подсказку */
.auth__input:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
}

.auth__input:last-of-type {
    margin-bottom: 0;
}